.order_item {
  border: 3px solid #ecebeb;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  margin-bottom: 40px;
  padding: 20px;
  &:hover {
    border-color: #A28089;
  }
}

.product_line_separator {
  border: none;
  height: 2px;
  background-color: gray;
}

.order_item:hover .product_line_separator {
  background-color: #A28089;
}

.order_id_title {
  margin: 0px;
}

.order_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.order_buttons {
  display: flex;
  align-items: center;
}

.delivered_button {
  background-color: #FFFFFF;
  border: 2px solid #A28089;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #A28089;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  cursor: pointer;
  transition: 0.15s ease-in-out;
  margin-right: 20px;
  &:hover {
    opacity: 0.7;
  }
}

.delete_order_button {
  background-color: #FFFFFF;
  position: relative;
  width: 30px;
  height: 30px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
}

.delete_order_button::before {
  content: '';
  background: url('../../../public/img/delete-icon.svg') no-repeat center center;
  background-size: contain;
  width: 25px;
  height: 25px;
  transition: width 0.2s ease-in-out;
}

.delete_order_button:hover::before {
  opacity: 0.7;
}

.order_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.order_placed_date {
  margin: 0px 0px 5px 0px;
}

.order_delivery_date {
  margin: 0px;
}

.product {
  margin-bottom: 50px;
}

.product:last-child {
  margin: 0px;
}

.product_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 60px 0px 60px;
}

.product_name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 230px;
}

.product_category {
  opacity: 0.7;
  margin: 0px;
}

.product_title {
  margin: 0px;
}

.product_amount {
  border: 1px solid rgb(218, 218, 218);
  padding: 1px 3px 1px 3px;
  font-size: 20px;
}

.product_price {
  margin: 0px;
}

.line_separator {
  border: 1px solid #A28089;
  width: 0px;
  height: 20px;
}

.status_title, .shipping_type_title, .address_title, .total_price_title {
  margin: 0px 0px 5px 0px;
}

.status_type, .shipping_type, .address_text, .total_price_text {
  margin: 0px;
  opacity: 0.6;
}
